[user]
	name = RMacy
	email = ryan@hackery.io
[push]
	default = simple
[color]
	ui = auto
[core]
	ignorecase = false
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	ci = commit
	amend = commit --amend
	co = checkout
	di = diff
	dc = diff --cached
	aa = add --all
	br = branch
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[merge]
	tool = vimdiff
[credential]
	helper = osxkeychain
